################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs/OS-Final/v15
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
